#root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

textarea {
  resize: vertical;
}

.card {
  padding: 2em;
}

div.section {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 1em;
}
